@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
header{
    background-color: #1C7DD0;
}

.line_space{
    line-height: 0.1;
}

.line_space_cart{
    line-height: 01;
}

.navbar {
    border-radius: 15px;
    background-color: #164873;
    opacity: 0.8;
}
.search-bar {
    left: 80%;
    /* margin-left: -300px; */
    top: 300px;
    }
    .search-bar .search-input {
    border-radius: 50px 0px 0px 50px;
    margin: auto;
    background-color: white;
    height: 50px;
    outline: none;
    border: 1px solid #dbdbdb;
    width: 75%;
    font-size: 14px;
    padding: 20px;;
    }
    .search-bar .search-submit {
    border-radius: 0px 50px 50px 0px;
    height: 50px;
    color: white;
    background-color: #2977BA;
    border: 1px solid #2977BA;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    width: 25%;
    font-size: 12px;
    margin-left: -5px;
    padding: 17px;
    }

    nav a{
        font-weight: 700;
        font-size: 15px;
        color: #FEFEFE;
    }

    .heading_all {
        font-size: 26px;
        font-family: 'Oswald', sans-serif;
        color: #2977BA;
        font-weight: 550;
    }
.color-hr{
    position: absolute;
    width: 100%;
    height: 2px;
}
.line{
    height: 0.8%;
}
.color-1{
    background-color: #164873;
    }
.color-2{
    background-color: #C3C3C3;
    }

    .button_round{
        border-radius: 25px;
        width: 70%;
    }